## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nabire,ID,-3.3667,135.4833,75.54,92,100,3.56,overcast clouds
1,1,Dicabisagan,PH,17.0818,122.4157,75.52,88,100,6.51,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,78.26,72,76,12.10,light rain
3,3,Olafsvik,IS,64.8945,-23.7142,29.80,93,100,10.89,snow
4,4,Coihaique,CL,-45.5752,-72.0662,78.49,35,100,10.13,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nabire,ID,-3.3667,135.4833,75.54,92,100,3.56,overcast clouds
1,1,Dicabisagan,PH,17.0818,122.4157,75.52,88,100,6.51,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,78.26,72,76,12.10,light rain
4,4,Coihaique,CL,-45.5752,-72.0662,78.49,35,100,10.13,overcast clouds
12,12,Hilo,US,19.7297,-155.0900,76.24,82,3,4.00,clear sky
...,...,...,...,...,...,...,...,...,...,...
672,672,Leticia,CO,-4.2153,-69.9406,78.85,89,75,4.61,light rain
675,675,Ewa Beach,US,21.3156,-158.0072,77.09,66,20,12.66,few clouds
680,680,San Policarpo,PH,12.1791,125.5072,78.64,80,99,12.57,overcast clouds
681,681,San Pedro,PH,14.3500,121.0167,77.36,90,100,7.05,overcast clouds
683,683,Teluk Nibung,ID,3.0010,99.8164,75.04,93,91,4.18,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                1
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nabire,ID,-3.3667,135.4833,75.54,92,100,3.56,overcast clouds
1,1,Dicabisagan,PH,17.0818,122.4157,75.52,88,100,6.51,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,78.26,72,76,12.10,light rain
4,4,Coihaique,CL,-45.5752,-72.0662,78.49,35,100,10.13,overcast clouds
12,12,Hilo,US,19.7297,-155.0900,76.24,82,3,4.00,clear sky
...,...,...,...,...,...,...,...,...,...,...
672,672,Leticia,CO,-4.2153,-69.9406,78.85,89,75,4.61,light rain
675,675,Ewa Beach,US,21.3156,-158.0072,77.09,66,20,12.66,few clouds
680,680,San Policarpo,PH,12.1791,125.5072,78.64,80,99,12.57,overcast clouds
681,681,San Pedro,PH,14.3500,121.0167,77.36,90,100,7.05,overcast clouds
683,683,Teluk Nibung,ID,3.0010,99.8164,75.04,93,91,4.18,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Nabire,ID,75.54,overcast clouds,-3.3667,135.4833,
1,Dicabisagan,PH,75.52,overcast clouds,17.0818,122.4157,
2,Rikitea,PF,78.26,light rain,-23.1203,-134.9692,
4,Coihaique,CL,78.49,overcast clouds,-45.5752,-72.0662,
12,Hilo,US,76.24,clear sky,19.7297,-155.0900,
...,...,...,...,...,...,...,...
672,Leticia,CO,78.85,light rain,-4.2153,-69.9406,
675,Ewa Beach,US,77.09,few clouds,21.3156,-158.0072,
680,San Policarpo,PH,78.64,overcast clouds,12.1791,125.5072,
681,San Pedro,PH,77.36,overcast clouds,14.3500,121.0167,
683,Teluk Nibung,ID,75.04,overcast clouds,3.0010,99.8164,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = clean_hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Nabire,ID,75.54,overcast clouds,-3.3667,135.4833,Hotel Nusantara Nabire
1,Dicabisagan,PH,75.52,overcast clouds,17.0818,122.4157,Nancy Montanes Bernardo
2,Rikitea,PF,78.26,light rain,-23.1203,-134.9692,People ThankYou
4,Coihaique,CL,78.49,overcast clouds,-45.5752,-72.0662,Diego De Almagro Coyhaique
12,Hilo,US,76.24,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
...,...,...,...,...,...,...,...
672,Leticia,CO,78.85,light rain,-4.2153,-69.9406,Hotel Amazon Bed and Breakfast / Hotel Amazon B&B
675,Ewa Beach,US,77.09,few clouds,21.3156,-158.0072,Uncle Junior Robert
680,San Policarpo,PH,78.64,overcast clouds,12.1791,125.5072,Agapita M. Nicart
681,San Pedro,PH,77.36,overcast clouds,14.3500,121.0167,Villa Veronica Resort Private Pool
683,Teluk Nibung,ID,75.04,overcast clouds,3.0010,99.8164,Hotel Assyifa

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "./Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))